{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'top.ico' %}"/>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title> Reading | {% block title %} {% endblock %} </title>

    <style>
      nav div ul li a h3{
        color: #fff;
        font-size: 20px;
        margin-right: 20px;
      }

      nav div ul li a h3:hover{
        color:#2fff13;
      }
    </style>

  </head>
  <body>

    
    
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-dark" style = "background-color: #000;">

      <a class="navbar-brand ml-3" href="/"><img style = "height: 150px;" src = "{% static 'btm_logo.png' %}"></a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse mr-5" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/"><h3> <i class="fas fa-home mr-1"></i> Home </h3></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'additem' %}"><h3><i class="fas fa-plus-square"></i> Add Item </h3></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'savedlist' %}"><h3><i class="fas fa-clipboard-list"></i> Grocery List </h3></a>
          </li>

          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/"><h3> <i class="fas fa-home mr-1"></i> Home </h3></a>
          </li>
          {% endif %}

          <li class="nav-item dropdown">
            <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <h3> Accounts <i class="far fa-caret-square-down"></i> </h3>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style = "background: rgb(11, 127, 135);">
              {% if user.is_authenticated %}
              <p class = "dropdown-item" style = "font-size: 18px;"><i class="fas fa-user-circle"></i> Hello, {{user.username}} </p>
              <a class="dropdown-item" href="{% url 'logout' %}"> <i class="fas fa-sign-in-alt "></i> Logout</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"> <i class="fas fa-headset "></i> Support</a>
              {% else %}
              <a class="dropdown-item" href="{% url 'login' %}"> <i class="fas fa-sign-in-alt "></i> Login</a>
              <a class="dropdown-item" href="{% url 'register' %}"> <i class="fas fa-sign-in-alt "></i> Get Started</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"> <i class="fas fa-headset "></i> Support</a>
              {% endif %}
            </div>
          </li>
        </ul>

      </div>
    </nav>
    <!--NAVBAR-->
    
    {% block content %}  {% endblock %}

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>